* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 30px;
    font-family: "Georgia", serif;
    line-height: 1.8em;
    color: #fff;
    background-color: #001925;
}

h1,
h2,
h3,
h4 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#content {
    margin: 80px 70px;
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.wideBox {
    text-align: center;
    margin: 70px;
    padding: 10px;
    background: #ebedf2;
    border: 1px solid #333;
}

.wideBox h1 {
    font-weight: bold;
    margin: 20px;
    color: #666;
    font-size: 1.5em;
}

#cardSlots {
    margin: 50px auto 0 auto;
    background: #ddf;
}

#cardPile {
    margin: 0 auto;
    background: #ffd;
}

#cardSlots,
#cardPile {
    display: flex;
    width: 835px;
    height: 120px;
    padding: 20px;
    margin-top: 5rem;
    border: 2px solid #333;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
    box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
    color: #000;
}

#cardSlots div,
#cardPile div {
    width: 70px;
    height: 78px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 0;
    border: 2px solid #333;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 0 0 0 10px;
    background: #fff;
}

#cardSlots div:first-child,
#cardPile div:first-child {
    margin-left: 0;
}

#cardSlots div.hovered {
    background: #aaa;
}

#cardSlots div {
    border-style: dashed;
}

#cardPile div {
    background: #666;
    color: #fff;
    font-size: 50px;
    text-shadow: 0 0 3px #000;
    cursor: pointer;
}

#cardPile div.ui-draggable-dragging {
    -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
    box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}

#card1.correct {
    background: rgb(7, 104, 12);
}

#card2.correct {
    background: rgb(4, 138, 37);
}

#card3.correct {
    background: rgb(199, 132, 6);
}

#card4.correct {
    background: rgb(255, 255, 7);
}

#card5.correct {
    background: green;
}

#card6.correct {
    background: cyan;
}

#card7.correct {
    background: blue;
}

#card8.correct {
    background: indigo;
}

#card9.correct {
    background: purple;
}

#card10.correct {
    background: violet;
}

#successMessage {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    z-index: 100;
    background: #dfd;
    color: #111;
    border: 2px solid #333;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
    -webkit-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
    box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
    padding: 20px;
}